[Bug] Export of JSON message to clipboard/file does not provide proper JSON

Whenever I want to copy an event to my clipboard (JSON format) (eg. to use it in my IDE for analyzis), I expect to get a proper json content.
However, it is currently having escape backslashes and surroundings double quotes, which makes it not parseable by my IDE (also less readable from my POV)

Using https://jsonformatter.curiousconcept.com/#, 
I checked that this JSON is compliant with RFC-8259 & RFC-7129 but not with others (especially with RFC-4627 which is the one for `The application/json Media Type for JavaScript Object Notation (JSON)`

I'm not sure this is _really_ a bug, maybe a feature request :)

Would it be possible to make the json without backslashes / surroundings double quotes ? 

Version : ([8a7399b](https://github.com/provectus/kafka-ui/commit/8a7399b))



That seems like a bug, we previously had something close in a preview as well.